/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400);

/*Raleway - https://www.theleagueofmoveabletype.com/raleway*/
@font-face {
    font-family: Ruleway;
    src:url('../font/raleway_thin-webfont.eot');
    src: url("../font/raleway_thin-webfont.woff") format('woff'),
        url('../font/raleway_thin-webfont.ttf') format('truetype'),
        url('../font/raleway_thin-webfont.svg') format('svg');
    font-weight: lighter;
}

/*Global*/
html *{
    font-family: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    outline: none;
}
html, body {
    font-family: Ruleway;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 16px;
    background: #0084c2;
}
/*#wrapper {
    background: url(../img/bg.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}*/
svg {
    fill: red;
}

.timeline-content p, .timeline-content h3 {
    font-family: "Arial";
}

.timeline-content a {
    color: #428bca;
}

#serviceSelection {
    margin-bottom: 15px;
}
#sort a {
    margin-top: 10px;
}

/* Bootstrap override */
html body .btn {
    font-family: Ruleway;
    font-size: 16px;
    font-weight: 700;
}

html body .form-control:focus {
    border-color: #5cb85c;
    border-width: 3px;
}

html body .alert-success {
    background-color: #5cb85c;
    border-color: white;
    color: white;
}

html body .alert-danger {
    background-color: #DD3B3B;
    border-color: white;
    color: white;
}

/*UI Elements*/

button {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 10px;
}
button:last-of-type{
    margin-right: 0px;
}
a {
    color: white;
}
a.social {
    font-size: 30px;
    display: table;
    text-align: center;
    width: 40px;
    height: 40px;
    color: #3b5998;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.1s;
    text-decoration: none;
}
a.social:hover {
    color: white;
    background-color: rgb(73, 169, 66);
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 5px rgb(73, 169, 66);
}
a.social > i {
    display: table-cell;
    vertical-align: middle;
}
.social_timeline {
    width: 520px;
    max-width: 100%;
    min-width: 180px;
    margin: 0 auto;
}
.header h1 {
    white-space: nowrap;
}
section h1 {
    font-size: 85px !important;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.article h1 {
    color: inherit;
    font-size: 2em !important;
    background: transparent;
    text-transform: none;
    padding: 0px;
    font-weight: bold;
    text-align: left;
}

@media only screen and (max-width: 1170px) {
    section h1 {
        font-size: 40px !important;
        margin-top: 0px !important;
    }
    .bcg {
        padding: 30px 10px !important;
    }
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
    color: inherit;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 20px 0px;
    letter-spacing: 2px;
}
h4 {
    text-transform: uppercase;
    color: inherit;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5em;
    margin: 0px;
    letter-spacing: 2px;
}
blockquote {
    margin: 0px !important;
    border-left: 10px solid rgb(255, 255, 255);
    border-left: 10px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.2);
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
/*Header*/
.header.fixed {
	position: fixed;
	top: 0px;
}
.header {
    height: 70px;
    max-width: 100%;
    right: 0px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1);
}
.header .container {
    height: 100%;
}

.header .toggle {
    height: 100%;
    font-size: 2em;
    display: none;
    margin-left: 10px;
}

.header .toggle i {
    display: table-cell;
    vertical-align: middle;
}

.header .logo {
    max-height: 70px;
    margin-right: 10px;
    width: auto;
    /*width: 100px;*/
}

.header > .container > div {
    display: table;
    height: 100%;
    float: left;
}
.header > .container > div > * {
    display: table-cell;
    vertical-align: middle;
}
.header > .container > .menu > * {
    display: table-cell;
    /*height: 100%;*/
}

.header .menu {
    display: block;
    height: 100%;
    margin: 0px;
}

.header .menu > div {
    height: inherit;
    position: relative;
}
.header .menu > div  a {
    display: table;
    letter-spacing: 2px;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    /*height: 100%;*/
    padding: 20px;
}

.header .menu > div span {
    display: table-cell;
    vertical-align: middle;
}

.sidebar_open body {
    overflow: hidden;
}
.body, .header, .sidebar {
    -webkit-transition: all 0.2s ease-in-out;
    -khtml-transition:  all 0.2s ease-in-out;
    -moz-transition:    all 0.2s ease-in-out;
    -o-transition:      all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
}

.sidebar {
    position: fixed;
    top: 0px;
    right: -1px;
    box-sizing: border-box;
    width: 100%;
    max-width: 0px;
    bottom: 0px;
    z-index: 10;
    display: none;
    border-left: 1px solid white;
    background-color: white;
}
.sidebar .menu {
    margin: 0px;
    padding: 0px;
}

.sidebar .menu > div {
    /*background: white;*/
    list-style: none;
    /*text-align: center;*/
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}
.sidebar .menu > div a {
    padding: 20px;
    display: block;
}
/*Body Elements*/
section {
    position: relative;
}
.slide {
    background-position: center center;
    background-repeat: repeat;
    background-attachment:scroll;
    background-size: cover;
	background-image: url("//common.tritoncode.com/server/file/image/size.php?path=/../common/media/image/texture/studio-blur-repeat.png");
}
.bcg {
    padding: 100px;
}
.centered {
    margin: 0 auto;
    text-align: center;
}
.centered * {
    /*text-align: left;*/
}
.container {
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: table;
}

.column {
    flex: 1 1 50%;
    min-width: 250px;
    padding: 20px;
    margin-bottom: 20px;
}

.frame {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    max-width: 100%;
    background-size: cover;
    border: 2px solid white;
}

.round {
    border-radius: 50%;
}

.product img {
    max-width: 300px;
}
.product .column {
    display: inline-block;
    vertical-align: top;
}
.rating {
    /*width: 200px;*/
    position: relative;
}
.rating .fa-star {
    color: lightgrey;
    font-size: 2em;
    margin-right: 2px;
}
.rating .fa-star.filled {
    color: #0084c2;
}
.rating > div {

}
.login-wrapper form {
    margin: 50px;
}

.slide {
    background-size: cover;
}

pre {
    background: rgb(248, 248, 248);
    font-family: monospace !important;
}

.prettyprint ol.linenums > li { list-style-type: decimal; color: grey;}

@media only screen and (max-width: 1170px) {
    .container {
        padding: 0 10px;
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .header > .container > .company {
        width: 100%;
    }
    .header > .container > div {
        display: table-cell !important;
        vertical-align: middle;
        float: none !important;
        width: 50px;
    }
    .header h1 {
        /*display: table !important;*/
        margin: 0 auto;
    }
    .header .toggle {
        display: table !important;
    }
    .sidebar {
        display: block !important;
    }
    .sidebar_open .header {
        right: 80%;
    }
    .sidebar_open .sidebar {
        max-width: 80%;
        right: 0px;
    }
    .header > .container > .menu {
        display: none !important;
    }
    .column {
        padding: 0px !important;
    }
}
.btn { /* Used to override bootstrap CSS */
  font-size: 15px;
  font-family: "Arial";
}
