body {
    padding-top: 70px;
}

.header {
    color: #0084c2;
    border-bottom: 1px solid #0084c2;
    width: 100%;
    z-index: 2;
    text-transform: uppercase;
}
.header .sub {
    display: block;
    transition: all 0.1s;
    -ms-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.header .logo {
    height: 50px !important;
    width: auto !important;
}

.header.inactive .sub {
    max-height: 0px;
    margin: 0px;
    opacity: 0;
}
body {
    background-color: white;
}
.header h1 {
    margin: 0px;
    padding: 0px;
}
#feature h1 {
    background: transparent;
    color: white !important;
    text-transform: none;
}
.header .container {
    overflow: hidden;
    /*padding: 0px !important;*/
}

.header .menu {
    float: right !important;
    margin: 0px;
	font-weight: bold;
}

.header .menu > div {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header .menu > div:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0px;
    background: #0084c2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.header .menu > div:hover {
    color: black;
    cursor: pointer;
}

.header .menu > div:hover:before {
    height: 5px;
}

a {
    color: #0084c2;
    text-decoration: none;
}

.header ul li a {
    font-size: 12px;
}

input[type=text] {
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-size: 16px;
    padding: 7px;
    width: 100%;
}
input.search {
    min-width: 300px;
}

input:focus {
    border-color: #0084c2;
}


#feature a {
    color: inherit;
    text-decoration: underline;
}

#feature .bcg {
    background: #0084c2;
}

button {
    padding: 15px;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    position: relative;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
    /*display: block;*/
    max-width: 20em;
    margin: 0 auto;
    background: #0077af;
    text-transform: uppercase;
    font-family: Ruleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
button.translucent {
    background: rgba(0,0,0,0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
}
button:hover {
    background: #0084c2;
}
button.translucent:hover {
    background: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b4000000', endColorstr='#b4000000'); /* IE */
    border-color: #0084c2;
    font-size: 2em;
    color: #0084c2;
}
button > i {
    position: absolute;
    right: 100%;
    top: 19px;
    font-weight: lighter;
    opacity: 0;
    -webkit-transition: all 0.5s;transform:scale(2,1); /* W3C */
    -webkit-transform:scale(1, 2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */

}

button:hover > i {
    right: 10px;
    opacity: 0.5;
}

a.social {
    color: #0084c2;
}
a.social:hover {
    color: white;
    background-color: #0084c2;
    border: 1px solid transparent;
    box-shadow: none;
}

.footer {
    color: white;
}

.sidebar {
    border-left: 1px solid #0084c2;
    color: #0084c2;
}

.blog-content {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 16px;
    text-align: left !important;
    margin: 0 auto;
    display: inline-block;
}

table.docs {
	table-layout: fixed;
	font-family: Lato, 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	width: 100%;
}
table.docs > thead > tr > *, table.docs > tbody > tr > * {
	padding: 10px;
}

table.docs thead > tr {
	font-weight: bold;
	text-transform: uppercase;
	background: rgb(200,200,200) !important;
}

table.docs tr:nth-child(odd) {
	background: rgb(240,240,240);
}

.article img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

hr {
    height: 1px;
    border: 0px;
    border-top: 1px solid lightgrey;
}
