/*Raleway - https://www.theleagueofmoveabletype.com/raleway*/
@font-face {
    font-family: Ruleway;
    src:url('../font/raleway_thin-webfont.eot');
    src: url("../font/raleway_thin-webfont.woff") format('woff'),
        url('../font/raleway_thin-webfont.ttf') format('truetype'),
        url('../font/raleway_thin-webfont.svg') format('svg');
    font-weight: lighter;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0084c2;
  font-family: Ruleway;
  color: white;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
